// size definitions
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
// primary
$black: #333;
$blue: #5f7181;
$blue-background: #e9f1f5;
$blue-dark: #002f5f;
$blue-medium: #0079c8;
$blue-light: #00a2e8;
$blue-lighter: #caf2fe;
$blue-gray-medium: #333d46;
$blue-gray-light: #788997;
$blue-gray-lighter: #93a5b3;
$blue-gray-lightest: #7f98ae;
$gray: #8f8f8f;
$gray-dark: #313131;
$gray-medium: #5d5d5d;
$gray-menu: #363f49;
$gray-menu-border: #33383d;
$gray-light: #a0a0a0;
$gray-lighter: #bababa;
$gray-lightest: #e5e5e5;
$gray-primary: #8c8a87;
$green: #5cb85c;
$white: #fff;
$color-apa: #8560a8;
$italiana: #0cc2aa;
$color-admin: #4f9be9;
$americana: #f7941d;
// assets
$assets-icon: '/assets/icon/';
$assets-img: '/assets/img/';