@import '~sass/_variables';
#app-header {
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 3;
    cursor: pointer;
    margin-left: 25px;
    img {
      width: 215px;
    }
    .cactus img {
      width: 75px;
    }
  }
  .pingui {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
    width: 90px;
    cursor: pointer;
    img {
      width: 60px;
    }
  }
}
