@import '~sass/_variables';
#app-restaurant {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 250px;
    height: 130px;
    &.americana {
        background: $americana;
    }
    &.italiana {
        background: $italiana;
    }
    .title {
        color: $blue-medium;
        font-size: 25px;
        text-align: center;
        padding: 5px;
    }
    .rate {
        display: flex;
        justify-content: center;
    }
}