@import '~sass/_variables';
#home {
  .demo-tab-group {
    width: 100%;
    background: $white;
    .tab-year {
      background: red;
      width: calc(100% / 5);
    }
    .demo-tab-content {
      background: none;
    }
  }
}
